ConsoleApplication2/Service References/ProductosService/InformationAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://goepower.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://goepower.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://goepower.com/">
      <s:element name="UserInfoByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfoByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInfoByUsernameResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProducerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAccountNumberExt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserField2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="APILogin" type="tns:APILogin" />
      <s:complexType name="APILogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MasterKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="UserInfoByExternalID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExternalID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfoByExternalIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInfoByExternalIDResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfoByWebUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebUserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfoByWebUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInfoByWebUserIDResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductInfoByProductID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductInfoByProductIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductInfoByProductIDResult" type="tns:ProductInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SetSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MinQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Inventory" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReOrderQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SetupPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplateProofFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplatePrintFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductionFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductImage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailSmall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailLarge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteToPrinter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReady" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyProductAccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductAccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCustomNote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCustomField1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCustomField2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompanyInfoByCompanyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyInfoByCompanyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyInfoByCompanyIDResult" type="tns:CompanyInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompanyInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueRow" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtrernalAccountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsGatekeeper" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDealer" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowLoginAsGuest" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowLoginAsGeneric" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActualUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompanyInfoByUniqueID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyUniqueID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyInfoByUniqueIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyInfoByUniqueIDResult" type="tns:CompanyInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProducerInfoByProducerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProducerInfoByProducerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProducerInfoByProducerIDResult" type="tns:ProducerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProducerInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProducerNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProducerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Partners" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PartnerInfoByPartnerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PartnerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PartnerInfoByPartnerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartnerInfoByPartnerIDResult" type="tns:PartnerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PartnerInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PartnerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueRow" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartnerCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActualUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompanyProductsByCompanyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ShowInactive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyProductsByCompanyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyProductsByCompanyIDResult" type="tns:CompanyProductsInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompanyProductsInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueRow" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtrernalAccountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfProductInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductInfo" nillable="true" type="tns:ProductInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompanyProductsByCompanyIDAndFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="InProperties" type="tns:ArrayOfPropertyFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPropertyFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PropertyFilter" nillable="true" type="tns:PropertyFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PropertyFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PropertyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PropertyValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PropertyOperation" type="tns:OperationFilter" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OperationFilter">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="NotEqual" />
          <s:enumeration value="GreaterThan" />
          <s:enumeration value="LessThan" />
          <s:enumeration value="GreaterThanOrEqual" />
          <s:enumeration value="LessThanOrEqual" />
          <s:enumeration value="Contains" />
          <s:enumeration value="NotContain" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="SQLLike" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CompanyProductsByCompanyIDAndFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyProductsByCompanyIDAndFilterResult" type="tns:CompanyProductsInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProducerCompaniesByProducerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ShowInactive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProducerCompaniesByProducerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProducerCompaniesByProducerIDResult" type="tns:ProducerCompaniesInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProducerCompaniesInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProducerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProducerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Companies" type="tns:ArrayOfCompanyInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCompanyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompanyInfo" nillable="true" type="tns:CompanyInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListOfPropertyNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfPropertyNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListOfPropertyNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserInfoByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:UserInfoByUsername" />
  </wsdl:message>
  <wsdl:message name="UserInfoByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:UserInfoByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="UserInfoByUsernameAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="UserInfoByExternalIDSoapIn">
    <wsdl:part name="parameters" element="tns:UserInfoByExternalID" />
  </wsdl:message>
  <wsdl:message name="UserInfoByExternalIDSoapOut">
    <wsdl:part name="parameters" element="tns:UserInfoByExternalIDResponse" />
  </wsdl:message>
  <wsdl:message name="UserInfoByExternalIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="UserInfoByWebUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:UserInfoByWebUserID" />
  </wsdl:message>
  <wsdl:message name="UserInfoByWebUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:UserInfoByWebUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="UserInfoByWebUserIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="ProductInfoByProductIDSoapIn">
    <wsdl:part name="parameters" element="tns:ProductInfoByProductID" />
  </wsdl:message>
  <wsdl:message name="ProductInfoByProductIDSoapOut">
    <wsdl:part name="parameters" element="tns:ProductInfoByProductIDResponse" />
  </wsdl:message>
  <wsdl:message name="ProductInfoByProductIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoByCompanyIDSoapIn">
    <wsdl:part name="parameters" element="tns:CompanyInfoByCompanyID" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoByCompanyIDSoapOut">
    <wsdl:part name="parameters" element="tns:CompanyInfoByCompanyIDResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoByCompanyIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoByUniqueIDSoapIn">
    <wsdl:part name="parameters" element="tns:CompanyInfoByUniqueID" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoByUniqueIDSoapOut">
    <wsdl:part name="parameters" element="tns:CompanyInfoByUniqueIDResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyInfoByUniqueIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="ProducerInfoByProducerIDSoapIn">
    <wsdl:part name="parameters" element="tns:ProducerInfoByProducerID" />
  </wsdl:message>
  <wsdl:message name="ProducerInfoByProducerIDSoapOut">
    <wsdl:part name="parameters" element="tns:ProducerInfoByProducerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ProducerInfoByProducerIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="PartnerInfoByPartnerIDSoapIn">
    <wsdl:part name="parameters" element="tns:PartnerInfoByPartnerID" />
  </wsdl:message>
  <wsdl:message name="PartnerInfoByPartnerIDSoapOut">
    <wsdl:part name="parameters" element="tns:PartnerInfoByPartnerIDResponse" />
  </wsdl:message>
  <wsdl:message name="PartnerInfoByPartnerIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="CompanyProductsByCompanyIDSoapIn">
    <wsdl:part name="parameters" element="tns:CompanyProductsByCompanyID" />
  </wsdl:message>
  <wsdl:message name="CompanyProductsByCompanyIDSoapOut">
    <wsdl:part name="parameters" element="tns:CompanyProductsByCompanyIDResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyProductsByCompanyIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="CompanyProductsByCompanyIDAndFilterSoapIn">
    <wsdl:part name="parameters" element="tns:CompanyProductsByCompanyIDAndFilter" />
  </wsdl:message>
  <wsdl:message name="CompanyProductsByCompanyIDAndFilterSoapOut">
    <wsdl:part name="parameters" element="tns:CompanyProductsByCompanyIDAndFilterResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyProductsByCompanyIDAndFilterAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="ProducerCompaniesByProducerIDSoapIn">
    <wsdl:part name="parameters" element="tns:ProducerCompaniesByProducerID" />
  </wsdl:message>
  <wsdl:message name="ProducerCompaniesByProducerIDSoapOut">
    <wsdl:part name="parameters" element="tns:ProducerCompaniesByProducerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ProducerCompaniesByProducerIDAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:message name="GetListOfPropertyNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetListOfPropertyNames" />
  </wsdl:message>
  <wsdl:message name="GetListOfPropertyNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetListOfPropertyNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetListOfPropertyNamesAPILogin">
    <wsdl:part name="APILogin" element="tns:APILogin" />
  </wsdl:message>
  <wsdl:portType name="InformationAPISoap">
    <wsdl:operation name="UserInfoByUsername">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get User Information By ePower Username</wsdl:documentation>
      <wsdl:input message="tns:UserInfoByUsernameSoapIn" />
      <wsdl:output message="tns:UserInfoByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInfoByExternalID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get User Information By ExternalID</wsdl:documentation>
      <wsdl:input message="tns:UserInfoByExternalIDSoapIn" />
      <wsdl:output message="tns:UserInfoByExternalIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInfoByWebUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get User Information By ePower WebUserID</wsdl:documentation>
      <wsdl:input message="tns:UserInfoByWebUserIDSoapIn" />
      <wsdl:output message="tns:UserInfoByWebUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductInfoByProductID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Product Information By ePower ProductID</wsdl:documentation>
      <wsdl:input message="tns:ProductInfoByProductIDSoapIn" />
      <wsdl:output message="tns:ProductInfoByProductIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompanyInfoByCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Company Information By ePower CompanyID</wsdl:documentation>
      <wsdl:input message="tns:CompanyInfoByCompanyIDSoapIn" />
      <wsdl:output message="tns:CompanyInfoByCompanyIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompanyInfoByUniqueID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Company Information By Unique ID</wsdl:documentation>
      <wsdl:input message="tns:CompanyInfoByUniqueIDSoapIn" />
      <wsdl:output message="tns:CompanyInfoByUniqueIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProducerInfoByProducerID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Producer Information By ePower ProducerID</wsdl:documentation>
      <wsdl:input message="tns:ProducerInfoByProducerIDSoapIn" />
      <wsdl:output message="tns:ProducerInfoByProducerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PartnerInfoByPartnerID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Partner Information By ePower PartnerID</wsdl:documentation>
      <wsdl:input message="tns:PartnerInfoByPartnerIDSoapIn" />
      <wsdl:output message="tns:PartnerInfoByPartnerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompanyProductsByCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Company Products By ePower CompanyID</wsdl:documentation>
      <wsdl:input message="tns:CompanyProductsByCompanyIDSoapIn" />
      <wsdl:output message="tns:CompanyProductsByCompanyIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompanyProductsByCompanyIDAndFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Company Products By ePower CompanyID and Filter</wsdl:documentation>
      <wsdl:input message="tns:CompanyProductsByCompanyIDAndFilterSoapIn" />
      <wsdl:output message="tns:CompanyProductsByCompanyIDAndFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProducerCompaniesByProducerID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Producer Companies By ePower ProducerID</wsdl:documentation>
      <wsdl:input message="tns:ProducerCompaniesByProducerIDSoapIn" />
      <wsdl:output message="tns:ProducerCompaniesByProducerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfPropertyNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Property Names of Object (product, company, user)</wsdl:documentation>
      <wsdl:input message="tns:GetListOfPropertyNamesSoapIn" />
      <wsdl:output message="tns:GetListOfPropertyNamesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformationAPISoap" type="tns:InformationAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserInfoByUsername">
      <soap:operation soapAction="http://goepower.com/UserInfoByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UserInfoByUsernameAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfoByExternalID">
      <soap:operation soapAction="http://goepower.com/UserInfoByExternalID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UserInfoByExternalIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfoByWebUserID">
      <soap:operation soapAction="http://goepower.com/UserInfoByWebUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UserInfoByWebUserIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductInfoByProductID">
      <soap:operation soapAction="http://goepower.com/ProductInfoByProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProductInfoByProductIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyInfoByCompanyID">
      <soap:operation soapAction="http://goepower.com/CompanyInfoByCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CompanyInfoByCompanyIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyInfoByUniqueID">
      <soap:operation soapAction="http://goepower.com/CompanyInfoByUniqueID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CompanyInfoByUniqueIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProducerInfoByProducerID">
      <soap:operation soapAction="http://goepower.com/ProducerInfoByProducerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProducerInfoByProducerIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartnerInfoByPartnerID">
      <soap:operation soapAction="http://goepower.com/PartnerInfoByPartnerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PartnerInfoByPartnerIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyProductsByCompanyID">
      <soap:operation soapAction="http://goepower.com/CompanyProductsByCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CompanyProductsByCompanyIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyProductsByCompanyIDAndFilter">
      <soap:operation soapAction="http://goepower.com/CompanyProductsByCompanyIDAndFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CompanyProductsByCompanyIDAndFilterAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProducerCompaniesByProducerID">
      <soap:operation soapAction="http://goepower.com/ProducerCompaniesByProducerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProducerCompaniesByProducerIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfPropertyNames">
      <soap:operation soapAction="http://goepower.com/GetListOfPropertyNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetListOfPropertyNamesAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformationAPISoap12" type="tns:InformationAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserInfoByUsername">
      <soap12:operation soapAction="http://goepower.com/UserInfoByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UserInfoByUsernameAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfoByExternalID">
      <soap12:operation soapAction="http://goepower.com/UserInfoByExternalID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UserInfoByExternalIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfoByWebUserID">
      <soap12:operation soapAction="http://goepower.com/UserInfoByWebUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UserInfoByWebUserIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductInfoByProductID">
      <soap12:operation soapAction="http://goepower.com/ProductInfoByProductID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProductInfoByProductIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyInfoByCompanyID">
      <soap12:operation soapAction="http://goepower.com/CompanyInfoByCompanyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CompanyInfoByCompanyIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyInfoByUniqueID">
      <soap12:operation soapAction="http://goepower.com/CompanyInfoByUniqueID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CompanyInfoByUniqueIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProducerInfoByProducerID">
      <soap12:operation soapAction="http://goepower.com/ProducerInfoByProducerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProducerInfoByProducerIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartnerInfoByPartnerID">
      <soap12:operation soapAction="http://goepower.com/PartnerInfoByPartnerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PartnerInfoByPartnerIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyProductsByCompanyID">
      <soap12:operation soapAction="http://goepower.com/CompanyProductsByCompanyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CompanyProductsByCompanyIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyProductsByCompanyIDAndFilter">
      <soap12:operation soapAction="http://goepower.com/CompanyProductsByCompanyIDAndFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CompanyProductsByCompanyIDAndFilterAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProducerCompaniesByProducerID">
      <soap12:operation soapAction="http://goepower.com/ProducerCompaniesByProducerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProducerCompaniesByProducerIDAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfPropertyNames">
      <soap12:operation soapAction="http://goepower.com/GetListOfPropertyNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetListOfPropertyNamesAPILogin" part="APILogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformationAPI">
    <wsdl:port name="InformationAPISoap" binding="tns:InformationAPISoap">
      <soap:address location="http://live.goepower.com/WebServices/InformationAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="InformationAPISoap12" binding="tns:InformationAPISoap12">
      <soap12:address location="http://live.goepower.com/WebServices/InformationAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>